<p id="notice"><%= notice %></p>

<h1 style="text-align: center">Compromised Accounts</h1>
<h4 style="text-align: center">This is a simple, open source project that was inspired by FVCKRENDER's recent hack.</h4>

<div class="jumbotron table-responsive" style="max-width: 80vw; margin: 0 auto; padding: 12px;">
  <table class="table table-striped table-hover ">
    <thead>
    <tr>
      <th>Address:</th>
      <th>Votes</th>
      <th>Upvote</th>
      <th>Downvote</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.address %></td>
        <td ><%= account.weighted_score %></td>
        <td><%= account.weighted_score %></td>
        <td><%= account.weighted_score %></td>
        <td><%= link_to 'Show', account %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <hr/>
  <div class="panel panel-default" style="margin-top: 24px;">
    <div class="panel-body">
      <%= link_to 'Add a new compromised account', new_account_path %>
    </div>
  </div>
</div>
<br>


